*{
    margin:0px;
    padding:0px;
 }
 
 .nav{
     font-family: Verdana, sans-serif;
     margin:0px;
     padding:0px;
     display:flex;
     align-items: center;
     justify-content: space-between;
     background-color: #070707;
     position:sticky;
     height:70px;
     box-shadow: 10px 10px 10px gray;
     margin-bottom: 14px;
 }

 .navbar{
     display:flex;
     justify-content:center;
     align-items: center;
     position: relative;
     right: 50px;
     bottom: 7px;
 }
 
 .br{
     display: flex;
     justify-content:center;
     align-items: center;
     position:relative;
     font-size: 1.2rem;
 }
 .br img{
    height:50px;
    position: relative;
    bottom: 7px;
 }
 .br p{
  padding: 20px 16px;
  color: #fccb0f;
 }
 #p1{
     margin-left:15px;
     font-weight: bold;
     padding-right: 1px;
 }
 .icon{
    position: relative;
    bottom: 7px;
 }
 .navbar a{
     padding:8px 16px;
     font-size: 22px;
     text-decoration: none;
     color:white;
 }
 .user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: larger;
    color: white;
 }

.image{
    width: 100%;
    height: 400px;
}
.div1{
  height:500px;
  margin-top:5px;
  background-image: linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)),
    url(./images/fortuner-1665472907-prod-var.jpg)
  ;
  background-size:100% 100%;
  background-repeat: no-repeat;

}



.info1{
    background-color:rgb(207, 164, 35);
    opacity: 0.7;
    width:200px;
    height: 100%;
    position:relative;
    left:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.fort p{
    text-align: center;
}

.fort button{
    color:white;
    background-color: black;
    width:145px;
}

#fleet{
    text-align: center;
    font-size: 30px;
    position: relative;
    color: white;
    bottom: 343px;
}

.about{
    margin-left: 30px;
    padding: 30px 0px;
}


.para{
    
    margin: 0px 30px;
    font-weight: bolder;
    font-size: 20px;
}

.types{
    text-align: center;
    margin-top: 25px;
    font-size: 45px;
}

.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 15px;
}
.contact{
    margin-left: 15px;
    max-width: 25%;
    flex:25%;
    background-color: black;
    color: white;
    border:2px solid black;
}

form {
    color:white;
}

.contact img{
    position: relative;
    width:100%;
    filter: saturate(0.4);
}

.contact form{
    display: flex;
    flex-direction: column;
}


.contact h3{
    font-size: 24px;
    margin: 10px 0px;
}

.des{
    font-size: 20px;
    padding: 10px 0px;
}

.info{
    font-size: 20px;
    padding: 10px 0px;
}


.contact button{
    margin-top: 20px;
    border: 2px solid black;
    width:100%;
    height:40px;
}

.contact button:hover{
    cursor: pointer;
    background-color: rgba(235, 231, 222, 0.903);
}

.row1{
    margin-top: 20px;
}

.fig{
    font-size: 16px;
}

@media only screen and (max-width:768px) {
    .contacts{
        max-width: 100%;
        flex:25%;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        right: 0px;
    }
    .contact{
        margin-left: 5px;
    }
    .p1{
        font-size: 15px;
    }
    .br p{
        font-size: 15px;
    }
    .navbar a{
        font-size: 15px;
    }
}

@media only screen and (max-width:618px) {
    .contacts{
        max-width: 100%;
        flex:25%;
    }
    .contact{
        margin-left: 5px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        right:0px;
    }
    .p1{
        font-size: 11px;
    }
    .br p{
        font-size: 11px;
    }
    .navbar a{
        font-size: 11px;
    }
}
